Flask==1.1.1  # sagemaker-containers requires flask 1.1.1
PyYAML==5.4
Pillow==9.0.0
boto3==1.17.52
botocore==1.20.52
cryptography==35.0.0
gunicorn==19.10.0
matplotlib==3.3.2
multi-model-server==1.1.1
numpy==1.20.3
pandas==1.1.3
psutil==5.6.7  # sagemaker-containers requires psutil 5.6.7
python-dateutil==2.8.0
requests==2.25.1
retrying==1.3.3
sagemaker-containers==2.8.6.post2
sagemaker-inference==1.2.0
scikit-learn==0.23.2
scipy==1.5.3
smdebug==1.0.10
urllib3==1.26.5
wheel==0.35.1
jinja2==3.0.3
itsdangerous==2.0.1
MarkupSafe==2.1.1
Werkzeug==0.15.6