PyYAML<4.3
matplotlib
model-archiver
mxnet-model-server
numpy
pandas>=0.24.0
psutil==5.4.8  # sagemaker-containers requires psutil 5.4.8
requests<2.21
retrying==1.3.3
sagemaker-containers>=2.5.6
sagemaker-inference==1.0.1
scikit-learn
scipy
urllib3<1.25
wheel
