flask==1.1.1  # sagemaker-containers requires flask==1.1.1
PyYAML<4.3
boto3>=1.4.8
coverage
docker-compose
flake8
mock
pytest
pytest-cov
pytest-xdist
python-dateutil==2.8.0
sagemaker>=1.3.0
tox
tox-conda
